@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Work Sans', sans-serif;
}

.home {
  background-image: url('./assets/hero-bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100dvh;
}